body{
    background-color: blanchedalmond;
}
#effets div,#tests div,#animate div, #maBoite{
    background: red;
    height: 100px;
    margin: 2px;
}

.alerte{
    color:red;
}

.highlight{
    background-color: yellow;
}
.bordure{
    border:5px solid black;
}

.vert{
    background-color: green !important;
}

#toggle p{
    font-size: 1em;
}

#photos div img{
    display: none;
}
#photos nav ul{
    list-style: none;
    padding: 0;
}
#photos nav li{
    margin-bottom: 10px;
}
#photos nav li img{
    max-width: 100%;
    height: auto;
}