//Couleurs
$couleur-principale: #ff2210;
$couleur-secondaire: blue;

//raccourcis couleurs
$cp: $couleur-principale;
$cs: $couleur-secondaire;

body{
    //couleur titre
    h1{
        color: $cp;
        //couleur survol
        &:hover{
            color:$cs;
        }
    }
}
//alerte
.monalerte{
    background-color: rgba($cp, .5);
}

%message{
    padding: .5em;
    border: 1px solid rgba(0,0,0,.1);
    font-weight: bold;
}
@mixin size($width,$height:$width,$radius:0){
    width:$width;
    height: $height;
    border-radius: $radius;
}
.message{
    &-error{
        @include size(200px);
        color:red;
        @extend %message;
    }
    &-valid{
        @include size(150px,180px,5px);
        color:green;
        @extend %message;
    }
    &-warning{
        @include size(220px,220px,30px);
        color: orange;
        @extend %message;
    }
    &-info{
        @include size(120px,50px,7px);
        color: blue;
        @extend %message;
    }
}
// https://sass-lang.com/documentation/at-rules/mixin

@mixin br($valeur1:5px,$valeur2:$valeur1,$valeur3:$valeur1,$valeur4:$valeur1){
    border-radius: $valeur1 $valeur2 $valeur3 $valeur4;
}

[class^=exemple]{
    background: green;
    padding: 20px;
    margin: 0 10px;
}

.exemple1{
    @include br;
}
.exemple2{
    @include br(10px);
}
.exemple3{
    @include br(10px,55px,28px,4px);
}

//annuaire
.annuaire{
    #liste{
        margin: 60px 0 0;
        .card-columns{
            column-count: 4;
        }
    }
    .nav-item{
        cursor: pointer;
        padding: 5px;
        margin: 0 5px;
        &:hover{
            color:red;
        }
    }
}

// https://github.com/erwantanguy/B1MDSDevFront